.btn{
    margin-top: 2.4rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: transparent;
    border: .1rem solid rgba(110, 73, 168, 0.774);
    border-radius: .6rem;
    color: #DCF2F1;
    cursor: pointer;
    transition: color .4s, background-color .4s, border .4s;
}

.btn:hover {
    color: #539fb1;
    background-color: #36538634;
    border: 1px solid #24265ea2;
}