.quiz {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 2rem;
	animation: 2s show-quiz;
}

@keyframes show-quiz {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


